
*.x86.a
*.x86.i
*.bak
*.x64.a
*.x64.i
*.arm.a
*.arm.i
*.armeabi.a
*.armeabi.i
*.armeabiv7a.a
*.armeabiv7a.i
*.arm64v8a.a
*.arm64v8a.i
*.js.a
*.js.i
*.armv7.a
*.armv7.i
*.arm64.a
*.arm64.i
.bmx/
*.i2
*.exe
commands.html
